$complementary-site-color: #F8E71C;
$height-level-one: 15%;
$height-level-two: 15%;
$height-level-three: 56%;
$height-level-last: 14%;
$main-site-offset: 70px;

/* ------------------ Scaffolding styles ------------- */

html { 
  background: url("../../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.level {
	position: absolute;
	left: 0;
	right: 0;
}

.level.one {height: $height-level-one;top: 0;}
.level.two {height: $height-level-two; top: $height-level-one;}
.level.three {height: $height-level-three; top: $height-level-one+$height-level-two;}
.level.last {
	height: $height-level-last;
	position: fixed;
	bottom: 0;
}

@media #{$small-only} {
	.language-link-list {margin-top: 25px;}
	.site-title-secondary {margin: 2vh 0 7vh;}
	.level {
		padding-left: $main-site-offset;
		padding-right: $main-site-offset;
	}
}

@media #{$medium-up} {
	.language-link-list {margin-top: 3vh;}
	.site-title-secondary {margin: 45px 0 0;}
	.goto-portfolio {margin-top: 37%;}
	.level {
		padding-left: $main-site-offset/2 ;
		padding-right: $main-site-offset/2 ;
	}
}

@media (max-width: 610px) {
	.contact-link-list > div {
	   text-align: center !important;
	   width: 100% !important;
	}
}

/* ------------------ Typography ------------- */

h1 {line-height: 1.1;}

@media #{$small-only} {
	body {font-size: 24px; }
	h1 {font-size: 8.5vw;}

	.language-link-list {font-size: 32px;}
}

@media #{$medium-up} {
	h1 {font-size: 6vw;}
}

@media #{$xlarge-up} {
	h1 {font-size: 84px;}
}

.stress {color: $complementary-site-color;}



/* ------------------ Elements ------------- */

.language-link-list:first-child a {
	margin-right: 7px;
}

.language-link-list a.active {
	padding-bottom: 5px;
	color: $complementary-site-color;
	border-bottom: 2px solid $complementary-site-color;
	cursor: default;
}

.lulz {
	display: inline-block;
	position: relative;
}

.lulz::before {
    content: "—";
    color: $complementary-site-color;
    left: -25px;
    position: absolute;
}

/* ------------------ Buttons ------------- */

@media #{$small-only} {
	.button {
    	@include button-size($padding: rem-calc(14));
    	font-size: 80%;
	}

}