$complementary-site-color: #F8E71C;


/* ------------------ Scaffolding styles ------------- */

html { 
  background: url("../../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media #{$small-only} {
	.site-container {padding: 40px 70px 165px;}
	.language-link-list {margin-bottom: 45px;}
	.contact-link-list {margin-top: 160px;}
	.main-info-block {margin-top: 280px;}
	.site-title-secondary {margin: 45px 0 116px;}
}

@media #{$medium-up} {
	.site-container {padding: 75px 75px 100px;}
	.language-link-list {margin-bottom: 55px;}
	.contact-link-list {margin-top: 160px;}
	.main-info-block {margin-top: 150px;}
	.site-title-secondary {margin: 45px 0 0;}
}

@media #{$large-up} {
	.contact-link-list {margin-top: 200px;}
	.main-info-block {margin-top: 200px;}
}


/* ------------------ Typography ------------- */

	h1 {line-height: 1.1;}

@media #{$small-only} {
	body {
		background-color: gold;
		font-size: 24px;
	}
	h1 {font-size: 68px;}
	.language-link-list {font-size: 32px;}

}


@media #{$medium-up} {
	h1 {font-size: calc(68px + 10%);}
}

@media #{$large-up} {
	h1 {font-size: 84px;}
}

.stress {color: $complementary-site-color;}




/* ------------------ Elements ------------- */

.language-link-list:first-child a {
	margin-right: 7px;
}

.language-link-list a.active {
	padding-bottom: 5px;
	color: $complementary-site-color;
	border-bottom: 2px solid $complementary-site-color;
}




/* ------------------ Buttons ------------- */

@media #{$small-only} {
	.button {
    	@include button-size($padding: rem-calc(14));
	}

}

///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback), 
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
// @mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
//   $responsive-unitless: $responsive / ($responsive - $responsive + 1);
//   $dimension: if(unit($responsive) == 'vh', 'height', 'width');
//   $min-breakpoint: $min / $responsive-unitless * 100;
  
//   @media (max-#{$dimension}: #{$min-breakpoint}) {
//     font-size: $min;
//   }
  
//   @if $max {
//     $max-breakpoint: $max / $responsive-unitless * 100;
    
//     @media (min-#{$dimension}: #{$max-breakpoint}) {
//       font-size: $max;
//     }
//   }
  
//   @if $fallback {
//     font-size: $fallback;
//   }
  
//   font-size: $responsive;
// }

// // ----------- DEMO -------------

// h1 {
//   @include responsive-font(4.5vw, 68px, 82px);
//   line-height: 1.1;
// }